meta(property='og:url', content=`${site.url}`)
meta(property='og:title', content=`${site.title}`)
meta(property='og:description', content=`${site.description}`)
meta(property='og:type', content='website')
meta(property='og:image', content=`${site.url}${site.logo}`)
meta(property='og:image:type', content='image/png')
meta(property='og:image:alt', content='Логотип')
meta(property='og:site_name', content=`${site.title}`)
meta(property='og:locale', content=`${site.lang}`)
