mixin icon(name, w=100, h=100)
  svg(class=`svg-icon svg-icon--${name}`, width=`${w}`, height=`${h}`)&attributes(attributes)
    use(xlink:href=`/img/icons.svg#${name}`)
    if block
      block
    else


//--------------------

mixin randomNum(numMax = 100)
  =(Math.random() * numMax + 1 | 0)

//--------------------

mixin pictureLazy(name, w=500, h=500, alt='', ext='jpg')
  picture&attributes(attributes)
    source(type='image/webp' srcset='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==' data-srcset=`/img/${name}.webp`)
    img.lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src=`/img/${name}.${ext}` width=`${w}`, height=`${h}` alt=`${alt}` loading="lazy")

//--------------------


mixin picture(name, w=500, h=500, alt='', ext='jpg')
  picture&attributes(attributes)
    source(type='image/webp' srcset=`/img/${name}.webp`)
    img(src=`/img/${name}.${ext}` width=`${w}`, height=`${h}` alt=`${alt}`)

//--------------------

mixin dummyImg(w=500, h=500, bg='000', color='fff', text='text', alt='dummy image')
  picture&attributes(attributes)
    source(type='image/webp' srcset='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==' data-srcset=`https://dummyimage.com/${w}x${h}/${bg}/${color}&text=${text}`)
    img.lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src=`https://dummyimage.com/${w}x${h}/${bg}/${color}&text=${text}` width=`${w}`, height=`${h}` alt=`${alt}` loading="lazy")
//--------------------

mixin modalId(id)
  .modal(id=`${id}`)
    .modal__content
      button.modal-close.modal__close-btn
        span
        span
      if block
        block
      else

//--------------------

mixin formBtn(text)
  button&attributes(attributes).btn.waves-effect.form__btn=text
    if block
      block
    else

//--------------------
mixin formInput(label='label', placeholder='placeholder')
  .form__input-wrap&attributes(attributes)
    label.form__label
      input.form__input.input--text(type='text' name='NAME')
      span.form__span.required &Icy;&mcy;&yacy;
      .form__errors-block(style='display: none;')
    if block
      block
    else
//--------------------

mixin linkMore(name='', href='javascript:void(0)')
  a.link-more(href=href)&attributes(attributes)
    +icon('arrow-right-circle-filled', 20, 20).link-more__icon
    = name
//--------------------

mixin link(name='', href='javascript:void(0)')
  a(href=href)&attributes(attributes)= name
    if block
      block
    else

//- EXAMPLE
//- +link(name?, href?)(class="promo-index__link js-hover-btn hover-btn-animation")
//--------------------
